In [1]:
import numpy as np
import pandas as pd

In [2]:
plds = pd.read_csv("payloads.csv", index_col=0)
plds

,Mass (kg),Peak Power (W),Avg Power (W),Temp Op Low (°C),Temp Op High (°C),Temp Low (°C),Temp High (°C)
NAC,16.4,9.3,6.4,0,20,-40,25
WAC,0.9,2.7,2.6,-20,30,-30,40
TEIS,11.2,14.0,14.0,-30,30,-30,45
HEND,26.3,13.0,13.0,-20,50,-20,50
LA,25.0,33.1,23.1,-20,30,-30,40

## Step 1

In [3]:
min(plds['Temp Op Low (°C)']), max(plds['Temp Op High (°C)'])

(-30, 50)

In [4]:
min(plds['Temp Low (°C)']), max(plds['Temp High (°C)'])

(-40, 50)

The Thermal Control needs to be able to control the temperature of the payloads from a range of -45 °C to 55 °C.

Based on the SRD requirements, the Thermal control needs to be able to control the temperature from a range of -105 °C to 105 °C.

## Step 2

As an assumption, 1500 W is the Max Power dissipation and 500 W is the Min Power dissipation

In [5]:
power_dis_max = 1500
power_dis_min = 500

## Step 3

As an assumption, 7.5 m$^2$ is the SC surface area

In [6]:
sa = 7.5

Given $A = 4 \pi R^2$ we find $R$ by using $R = \sqrt{\frac{A}{4 \pi}}$

In [7]:
r = np.sqrt(sa / (4 * np.pi))
d = 2 * r
d

1.5450968080927583

## Step 4

In [8]:
a_s = 0.35
e_s = 0.8

## Step 5

In [9]:
earth_ir = 237 #W/m^2
earth_a = 0.3
earth_r = 6378 #Km

In [24]:
G_s = 1366 #W/m^2
#a_s
q_IR = earth_ir
e_IR = e_s

#F_se params:
H = 160 #lowest part of the LEO orbit
R = earth_r
F_se = 0.5 * (1 - (H ** 2 + 2 * H * R) ** 0.5 / (H + R))

a = earth_a
K_a = 1
Q_w = power_dis_max
D = d
omega = 5.67e-8 #W/(m^2-K^4)
T_max = ((G_s * a_s / 4 + q_IR * e_IR * F_se + G_s * a * a_s * K_a * F_se + Q_w / (np.pi * D**2)) / (omega * e_IR)) ** 0.25 - 272.15
T_max

43.34798271989564

## Step 6

In [20]:
mars_ir = 90 #W/m^2
mars_a = 0.15
mars_r = 3397 #Km

In [23]:
G_s = 581 #W/m^2
#a_s
q_IR = mars_ir
e_IR = e_s

#F_se params:
H = 400 #Established Orbit
R = mars_r
F_se = 0.5 * (1 - (H ** 2 + 2 * H * R) ** 0.5 / (H + R))

a = mars_a
K_a = 1
Q_w = power_dis_min
D = d
omega = 5.67 * 10**-8 #W/(m^2-K^4)
T_min = ((q_IR * e_IR *F_se + Q_w / (np.pi * D ** 2)) / (omega * e_IR)) ** 0.25 - 272.15
T_min

-63.128834514082712